<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head">
</head>
<head>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
    <link rel="stylesheet" th:href="@{/../css/start.css}" href="css/start.css">
    <link rel="stylesheet" th:href="@{/../css/cart.css}" href="css/cart.css">
</head>
<body>
<!-- Navbar Start -->
<div th:replace="fragments :: html_navbar"></div>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase"></h1>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href=""></a></p>
            <p class="m-0 text-white px-2"></p>
            <p class="m-0 text-white"></p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<nav class="navbar"></nav>
<div class="cart-section">
    <div class="product-list">
        <div class="small-container cart-page cart">
            <p class="section-heading">Order</p>
            <hr>
            <form>
                <table>
                    <thead>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    </thead>
                    <tbody>
                    <input type="hidden" th:value="${userId}" id="userId">

                    <tr th:each="sc:${shoppingCards}" >
                        <td>
                            <div class="cart-info">
                                <a href="product1.html"><img  th:src="@{'/images/getimage/'+ ${sc.productImage}}" width="100px" height="100px"></a>
                                <input type="hidden" th:value="${sc.productImage}" class="image">
                                <div>
                                    <small th:text="${sc.productName}" class="name"></small>
                                     size<small th:text="${sc.size}" class="size"></small>
                                     <small th:text="${sc.ice}" class="ice"></small>
                                     <small th:text="${sc.sugar}" class="sugar"></small>
                                     <small th:text="${sc.topping}" class="topping"></small>
                                    <br>
                                    <small> In Stock</small>
                                    <a href="">delete</a>
                                </div>
                            </div>
                        </td>
                        <td><input type="number" name="quantity"  class="quantity" th:value="${sc.productQuantity}"></td>
                        <input type="hidden" th:value="${sc.id}" class="cardId">
                        </td>
                        <td class="price"></td>
                        <input type="hidden" th:value="${sc.productPrice}" class="productPrice">
                    </tr>
                    </tbody>
                </table>
                <hr>
                <div class="total-price" >
                    <table>
                        <tr>
                            <td th:text="'Total ('+ ${total}+' items)'" ></td>
                            <input type="hidden" class="total_price">
                            <td class="section-heading"></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <div class="checkout-section">
        <div class="checkout-box" >
            <p class="text" th:text="'Total ('+ ${total}+' items)'"></p>
            <h2 class="total-price"></h2>
            <a th:href="@{/addOrder(cardIds=${cardIds},userId=${userId})}" class="checkout-btn" style="text-decoration: none">Thanh toán trực tiếp</a>
            <br>
            <a href="checkout.html"class="checkout-btn" style="text-decoration: none">Thanh toán qua pay</a>
        </div>
    </div>
</div>

<!-- Footer Start -->
<div th:replace="fragments :: html_footer"></div>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<div th:replace="fragments :: html_cript"></div>
<script>
    var quantity =  document.querySelectorAll.bind(document)('.quantity')
    var productPrice = document.querySelectorAll.bind(document)('.productPrice')
    var price = document.querySelectorAll.bind(document)('.price')
    var total_price = document.querySelectorAll.bind(document)('.total-price')
    var bill = document.getElementById('bill')
    var userId = document.getElementById('userId').value

    var productImage = document.querySelectorAll.bind(document)('.image')

    var productName=document.querySelectorAll.bind(document)('.name')
    var size=document.querySelectorAll.bind(document)('.size')
    var sugar =document.querySelectorAll.bind(document)('.sugar')
    var ice =document.querySelectorAll.bind(document)('.ice')
    var topping = document.querySelectorAll.bind(document)('.topping')
    var cardId = document.querySelectorAll.bind(document)('.cardId')

    const navLink = document.querySelectorAll.bind(document)('.nav-link')
    navLink.forEach(nav=>{
        nav.classList.remove('active')
    })
    const shoppingCart = document.querySelector.bind(document)('.shoppingCart')
    shoppingCart.classList.add('active')


    console.log(productPrice)
    start();

    function start(){
        var bill = 0;
        price.forEach((p,i)=>{
        p.textContent = productPrice[i].value * quantity[i].value + ' đ'
            document.querySelectorAll.bind(document)('.price')[i].textContent = p.textContent
            bill = bill+ productPrice[i].value * quantity[i].value
        })
        total_price.forEach((tp,i)=>{
            tp.textContent = bill + ' đ'
        })
    }
    quantity.forEach((qty,i)=>{
        qty.onchange = function (){
            bill = 0
            price[i].textContent =  productPrice[i].value * qty.value + ' đ'
            document.querySelectorAll.bind(document)('.price')[i].textContent = price[i].textContent
            start()
            var data={
                "userId" : userId,
                "cardPrice":  productPrice[i].value * qty.value,
                "productPrice":productPrice[i].value,
                "productImage": productImage[i].value,
                "productQuantity":qty.value,
                "productName":productName[i].textContent,
                "size":size[i].textContent,
                "sugar":sugar[i].textContent,
                "ice":ice[i].textContent,
                "topping":topping[i].textContent
            }
            $.ajax({
                url: "/api/shoppingcard/update/"+cardId[i].value,
                type: "PUT",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(data)
            })
         }

    })

</script>
</body>
</html>